src/main/resources/wsdl/ordervaliditity.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.example.com/tsordervalidation/ordervalidation" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.com/tsordervalidation/ordervalidation" targetNamespace="http://www.example.com/tsordervalidation/ordervalidation">
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.example.com/tsordervalidation/ordervalidation">
            <xsd:element name="OrderRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="clientId" type="xsd:long"/>
                        <xsd:element name="product" type="xsd:string"/>
                        <xsd:element name="side" type="xsd:string"/>
                        <xsd:element name="quantity" type="xsd:int"/>
                        <xsd:element name="strategy" type="xsd:int"/>
                        <xsd:element name="price" type="xsd:double"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Acknowledgement">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="orderId" type="xsd:long"/>
                        <xsd:element name="comment" type="xsd:string"/>
                        <xsd:element name="isValid" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </schema>
    </wsdl:types>
    <wsdl:message name="OrderRequest">
        <wsdl:part element="tns:OrderRequest" name="OrderRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="OrderValidityindicator">
        <wsdl:operation name="Order">
            <wsdl:input message="tns:OrderRequest" name="OrderRequest"> </wsdl:input>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OrderValidityindicatorSoap11" type="tns:OrderValidityindicator">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Order">
            <soap:operation soapAction=""/>
            <wsdl:input name="OrderRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="OrderValidityindicatorService">
        <wsdl:port binding="tns:OrderValidityindicatorSoap11" name="OrderValidityindicatorSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>